<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Flask App!</title>
</head>
<body>
    <h3>Hey, Jude!</h3>
    <p>Perform a request for one of those routes to get application functionalities:</p>
    <ul>
        <li>http://127.0.0.1:7700/stock - Return all data in Dict</li>
        <li>http://127.0.0.1:7700/stock/section - Return a specific session from dict</li>
        <li>http://127.0.0.1:7700/stock/section/product - Return the quantity in stock from a specific product in dict</li>
        <li>http://127.0.0.1:7700/stock/section - POST Request - Insert some data in the dict</li>
        <li>http://127.0.0.1:7700/stock/section - PUT Request - Create or replace data in dict</li>
        <li>http://127.0.0.1:7700/stock/section - PATCH Request - Create or update data in dict</li>
        <li>http://127.0.0.1:7700/stock/section - DELETE Request - Delete section in dict</li>
        <li>http://127.0.0.1:7700/stock/section/product - DELETE Request - Delete product in dict</li>
    </ul>
</body>
</html>